<ion-header>
    <ion-toolbar>
        <ion-title>{{ $t('option.title') }}</ion-title>
        <ion-buttons slot="start">
            <ion-button @click="closeOption">
                <ion-icon :icon="chevronBack" />
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<!-- Basic Settings -->
<ion-content class="ion-padding-bottom">
    <ion-list-header>
        <ion-label>{{ $t('option.basic') }}</ion-label>
    </ion-list-header>
    <ion-list>
        <!-- Language settings -->
        <ion-item button @click="presentLangAction">
            <ion-icon :icon="languageOutline" slot="start" />
            <ion-label>
                <h5>語言 / Language</h5>
                <p v-if="config.lang == 'zh'">正體中文</p>
                <p v-else-if="config.lang == 'en'">English</p>
            </ion-label>
        </ion-item>
        <!-- Theme Settins -->
        <ion-item button @click="presentThemeAction">
            <ion-icon :icon="colorPaletteOutline" slot="start" />
            <ion-label>
                <h5>{{ $t('option.theme') }}</h5>
                <p v-if="config.theme == 'light'">{{ $t('option.light') }}</p>
                <p v-else-if="config.theme == 'dark'">
                    {{ $t('option.dark') }}
                </p>
                <p v-else-if="config.theme == 'system'">
                    {{ $t('option.systemTheme') }}
                </p>
            </ion-label>
        </ion-item>
        <!-- Data source Settings -->
        <ion-item button @click="presentSourceAction">
            <ion-icon :icon="serverOutline" slot="start" />
            <ion-label>
                <h5>{{ $t('option.dataSource') }}</h5>
                <p v-if="config.fetchMethod == 'default'">
                    {{ $t('option.defaultSource') }}
                </p>
                <p v-else-if="config.fetchMethod == 'hkgov'">
                    {{ $t('option.govApi') }}
                </p>
                <p v-else-if="config.fetchMethod == 'self'">
                    {{ $t('option.selfHost') }}
                </p>
            </ion-label>
        </ion-item>
        <!-- API Endpoint setting -->
        <ion-item v-if="config.fetchMethod == 'self'">
            <ion-label position="stacked"
                >{{ $t('option.selfHostUrl') }}</ion-label
            >
            <ion-input
                placeholder="https://your.api"
                v-model="config.apiBaseUrl"
            ></ion-input>
        </ion-item>
        <!-- AutoScroll Setting -->
        <ion-item>
            <ion-icon :icon="returnDownForwardOutline" slot="start" />
            <ion-label>
                <h5>{{ $t('option.autoScroll') }}</h5>
            </ion-label>
            <ion-checkbox
                slot="end"
                label="$t('option.autoScroll')"
                v-model="config.autoScroll"
            ></ion-checkbox>
        </ion-item>
        <!-- Search Item Style setting -->
        <ion-item button @click="presentSearchItemStyleAction">
            <ion-icon :icon="menuOutline" slot="start" />
            <ion-label>
                <h5>{{ $t('option.searchItemStyle') }}</h5>
                <p v-if="config.searchItemStyle == 'comfort'">
                    {{ $t('option.itemStyleComfort') }}
                </p>
                <p v-else-if="config.searchItemStyle == 'compact_left'">
                    {{ $t('option.itemStyleCompactLeft') }}
                </p>
                <p v-else-if="config.searchItemStyle == 'compact_right'">
                    {{ $t('option.itemStyleCompactRight') }}
                </p>
            </ion-label>
        </ion-item>
        <!-- Max Results -->
        <ion-item>
            <ion-icon :icon="listOutline" slot="start" />
            <ion-label class="flex flex-wrap">
                <h5 class="w-full">{{ $t('option.maxResults') }}</h5>
                <ion-range
                    class="w-full py-0"
                    v-model="config.maxResults"
                    :min="10"
                    :max="50"
                    :step="5"
                    :snaps="true"
                    :pin="true"
                />
            </ion-label>
        </ion-item>
    </ion-list>
    <!-- Data settings -->
    <ion-list-header>
        <ion-label>{{ $t('option.manageData') }}</ion-label>
    </ion-list-header>
    <ion-list class="ion-padding-bottom ion-margin-bottom">
        <!-- Update route data -->
        <ion-item button @click="updateData">
            <ion-icon :icon="cloudDownloadOutline" slot="start" />
            <ion-label>
                <h5>{{ $t('option.updateRoute') }}</h5>
            </ion-label>
        </ion-item>
        <!-- Reload Route Data -->
        <ion-item button @click="downloadData">
            <ion-icon :icon="reloadOutline" slot="start" />
            <ion-label>
                <h5>{{ $t('option.reloadRoute') }}</h5>
            </ion-label>
        </ion-item>
        <!-- Remove all stars -->
        <ion-item button @click="clearStarred">
            <ion-icon :icon="starHalfOutline" slot="start" />
            <ion-label>
                <h5>{{ $t('option.removeAllStar') }}</h5>
            </ion-label>
        </ion-item>
        <!-- Reset All -->
        <ion-item button @click="confirmClearData">
            <ion-icon :icon="trashOutline" slot="start" />
            <ion-label>
                <h5>{{ $t('option.resetAll') }}</h5>
            </ion-label>
        </ion-item>
        <!-- About Section -->
        <ion-list-header>
            <ion-label>{{ $t('option.about') }}</ion-label>
        </ion-list-header>
        <!-- License -->
        <ion-item
            button
            href="https://www.gnu.org/licenses/gpl-3.0.en.html"
            target="_blank"
        >
            <ion-icon :icon="bookOutline" slot="start" />
            <ion-label>
                <h5>{{ $t('option.license') }}</h5>
                <p>GPLv3</p>
            </ion-label>
        </ion-item>
        <!-- Source Code -->
        <ion-item
            button
            href="https://github.com/angus6b23/hk-transport"
            target="_blank"
        >
            <ion-icon :icon="codeSlashOutline" slot="start" />
            <ion-label>
                <h5>{{ $t('option.sourceCode') }}</h5>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon :icon="shieldCheckmarkOutline" slot="start" />
            <ion-label>
                <h5>{{ $t('option.promise') }}</h5>
                <p class="ion-text-wrap">
                    {{ $t('option.promiseDescription') }}
                </p>
            </ion-label>
        </ion-item>
        <!-- Support -->
        <ion-item
            button
            href="https://liberapay.com/12a.app/donate"
            target="_blank"
        >
            <ion-icon :icon="iceCreamOutline" slot="start" />
            <ion-label>
                <h5>{{ $t('option.support') }}</h5>
                <p>{{ $t('option.supportDescription') }}</p>
            </ion-label>
        </ion-item>
        <!-- Self promote -->
        <ion-item button href="https://12a.app" target="_blank">
            <ion-icon :icon="linkOutline" slot="start" />
            <ion-label>
                <h5>{{ $t('option.otherApp') }}</h5>
                <p>https://12a.app</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
